<div
  class="bg-[url('/assets/img/png/bg.png')] bg-cover bg-no-repeat h-screen md:h-max"
>
  <div
    class="flex md:pl-[50px] md:gap-[80px] md:pt-[150px] pt-[180px] px-[50px]"
  >
    <div class="">
      <p class="text-[40px] md:text-[64px] text-white max-w-xl font-semibold">
        India’s Premier Global Financial
        <span
          class="text-[#fcdb73] font-semibold underline bg-[#fcdb7350] p-2 rounded-t-[10px]"
          >Summit</span
        >
      </p>

      <div class="mt-[20px]">
        <p class="max-w-lg text-white">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi
          officiis debitis at laudantium voluptatem molestias provident
          accusamus, numquam animi ad dolorum enim quo neque labore optio
          distinctio quisquam? Nemo, necessitatibus.
        </p>
      </div>
    </div>

    <div class="image-div hidden md:block">
      <img
        src="/assets/svg/logo.svg"
        class="imgage h-full w-[900px] object-cover"
        alt=""
      />
    </div>
  </div>
</div>
