<nav
  id="nav"
  class="absolute start-0 w-full pr-0 lg:pr-[22px] px-[22px] left-0 right-0 top-0 z-50 min-h-[100px] max-w-[1920px] mx-auto"
>
  <div
    class="flex flex-wrap items-center justify-center md:justify-between p-4 pt-[2.125rem] px-[20px] 2xl:px-[80px]"
  >
    <div
      class="flex flex-col md:flex-row justify-center items-center md:gap-[60px]"
    >
      <img
        class="max-w-[160px] md:max-w-[120px] 2xl:max-w-[350px] logo"
        src="/assets/img/png/logo.png"
        alt=""
      />
      <div class="flex justify-center items-center gap-10 menu">
        <a href="/" class="text-white text-[15px mt-[17px]">About</a>
        <a href="/" class="text-white text-[15px mt-[17px]">Conference</a>
        <a href="/" class="text-white text-[15px mt-[17px]">Event</a>
      </div>
    </div>

    <div class="hidden w-full lg:block md:w-auto" id="navbar-dropdown">
      <div
        class="flex flex-col md:flex-row flex-wrap justify-end gap-[30px] md:gap-[15px] lg:gap-[15px] xl:gap-[20px] md:items-center mt-[10px] lg:mt-[0]"
      >
        <button
          class="button rounded-full px-[35px] py-[10px] border border-white text-white text-[15px] hover:bg-white hover:text-[#13151a] transition-all"
        >
          Download
        </button>
      </div>
    </div>
  </div>
</nav>
