.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.right-section-header {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.right-section-header-div2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
.right-section-header-div1 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}


.icons-left-section {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
}
.icons-left-section:hover
{
    background-color: rgb(232, 232, 232);
}
