---
import Layout from "../../layouts/Layout.astro";
import MainContent from "../../components/MainContent.astro";
import Message from "../../components/Message.astro";
import OtherDetails from "../../components/OtherDetails.astro";
import Partners from "../../components/Partners.astro";
import TestContent from "../../components/TestContent.astro";
---

<Layout title="">
  <div id="progressbar"></div>
  <TestContent />
  <TestContent />
  <TestContent />
  <TestContent />
  <TestContent />
  <TestContent />
  <TestContent />
</Layout>
